/node_modules
package-lock.json 

# for the express ignores
/server/node_modules
/server/package-lock.json

# for the react ignores
# dependencies
/client/node_modules
/client/.pnp
.env
client/.pnp.js

# for react native ignores
node_modules/
client-native/.expo/
client-native/dist/
client-native/npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
client-native/web-build/

# macOS
.DS_Store


# testing
/client/coverage

# production
/client/build

# misc
client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
