// \/ -------------------- ~ Variables ~ ---------------------- \/
// ------------ ~ colors ~ ----------
$main_color: #eee;
$second_color: #001;
$white_color: #fff;
$dark_color: rgba(black, 0.3);

// ------------ ~ sizes ~ ----------
$marings: 1rem;
$paddings: 1rem;
$font_size: 1rem;
$trans: 0.3s;
$radius: 0.25rem;

// ------------ ~ fonts ~ ----------
$main_font: serif;
